In [1]:
%load_ext sql
%sql sqlite:///northwind.db

In [2]:
%%sql
CREATE TABLE Customers_new (
  CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
  CustomerID_old TEXT UNIQUE,
  CustomerName TEXT,
  ContactName TEXT,
  ContactTitle TEXT,
  Address TEXT,
  City TEXT,
  Region TEXT,
  PostalCode TEXT,
  Country TEXT,
  Phone TEXT,
  Fax TEXT
);

INSERT INTO Customers_new (CustomerID_old, CustomerName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax)
SELECT CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax
FROM Customers;
CREATE TABLE Orders_new (
  OrderID INTEGER PRIMARY KEY,
  CustomerID INTEGER,
  EmployeeID INTEGER,
  OrderDate TEXT,
  RequiredDate TEXT,
  ShippedDate TEXT,
  ShipVia INTEGER,
  Freight REAL,
  ShipName TEXT,
  ShipAddress TEXT,
  ShipCity TEXT,
  ShipRegion TEXT,
  ShipPostalCode TEXT,
  ShipCountry TEXT,
  FOREIGN KEY (CustomerID) REFERENCES Customers_new(CustomerID)
);
INSERT INTO Orders_new (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry)
SELECT o.OrderID, c.CustomerID, o.EmployeeID, o.OrderDate, o.RequiredDate, o.ShippedDate, o.ShipVia, o.Freight, o.ShipName, o.ShipAddress, o.ShipCity, o.ShipRegion, o.ShipPostalCode, o.ShipCountry
FROM Orders o
JOIN Customers_new c ON o.CustomerID = c.CustomerID_old;
DROP VIEW IF EXISTS "Quarterly Orders";
DROP VIEW IF EXISTS "Sales Totals by Amount";
DROP VIEW IF EXISTS "Summary of Sales by Quarter";
DROP VIEW IF EXISTS "Summary of Sales by Year";
DROP VIEW IF EXISTS "Sales by Category";
DROP VIEW IF EXISTS "Product Sales for 1997";
DROP VIEW IF EXISTS "Category Sales for 1997";
DROP VIEW IF EXISTS "Invoices";
DROP VIEW IF EXISTS "Customer and Suppliers by City";
DROP VIEW IF EXISTS "Orders Qry";
-- Add any other views you have that reference these tables
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Orders;
ALTER TABLE Customers_new RENAME TO Customers;
ALTER TABLE Orders_new RENAME TO Orders;

 * sqlite:///northwind.db
Done.
93 rows affected.
Done.
16282 rows affected.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]