# SQL

## Getting Data From One Table

In [41]:
%load_ext sql
%sql sqlite:///northwind.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [42]:
%%sql
--Star means all of them
SELECT * FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (5, 'BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

In [43]:
%%sql
SELECT ContactName, Address FROM Customers LIMIT 5;

 * sqlite:///northwind.db
Done.

[('Maria Anders', 'Obere Str. 57'),
 ('Ana Trujillo', 'Avda. de la Constitución 2222'),
 ('Antonio Moreno', 'Mataderos  2312'),
 ('Thomas Hardy', '120 Hanover Sq.'),
 ('Christina Berglund', 'Berguvsvägen  8')]

In [44]:
%%sql
--SQL is not case sensitive
--Because we have different SQLs, maybe we have case sensitive ones to. But in interview they don't care about these
sElect ConTactName, Address FROM CUstomers LIMIT 5;

 * sqlite:///northwind.db
Done.

[('Maria Anders', 'Obere Str. 57'),
 ('Ana Trujillo', 'Avda. de la Constitución 2222'),
 ('Antonio Moreno', 'Mataderos  2312'),
 ('Thomas Hardy', '120 Hanover Sq.'),
 ('Christina Berglund', 'Berguvsvägen  8')]

## Data Types

In [45]:
%%sql
--The [] is not necessary
SELECT * FROM [Orders] LIMIT 5

 * sqlite:///northwind.db
Done.

[(10248, 87, 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 16.75, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France'),
 (10249, 79, 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 22.25, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany'),
 (10250, 34, 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 25.0, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (10251, 86, 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 20.25, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France'),
 (10252, 76, 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 36.25, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium')]

In [46]:
%%sql
SELECT * FROM Products LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, '0'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, '0'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, '0'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 53, 0, 0, '0'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, '1')]

In [47]:
%%sql
--WHERE is only for rows!
SELECT * FROM Customers WHERE CustomerName = "Alfreds Futterkiste";

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545')]

## Pattern Matching

In [48]:
%%sql
SELECT * FROM Customers WHERE Country = "Germany" LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (6, 'BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', 'Western Europe', '68306', 'Germany', '0621-08460', '0621-08924'),
 (17, 'DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', 'Western Europe', '52066', 'Germany', '0241-039123', '0241-059428'),
 (25, 'FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'München', 'Western Europe', '80805', 'Germany', '089-0877310', '089-0877451'),
 (39, 'KOENE', 'Königlich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', 'Western Europe', '14776', 'Germany', '0555-09876', None)]

In [49]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "Alf";

 * sqlite:///northwind.db
Done.

[]

In [50]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "Alf%";

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545')]

In [51]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "Alf%";

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545')]

In [52]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "A%";

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750')]

In [53]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "a%";

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750')]

In [54]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE "%a";

 * sqlite:///northwind.db
Done.

[(3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (13, 'CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', 'Central America', '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 (30, 'GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Sales Manager', 'C/ Romero, 33', 'Sevilla', 'Southern Europe', '41101', 'Spain', '(95) 555 82 82', None),
 (61, 'QUEDE', 'Que Delícia', 'Bernardo Batista', 'Accounting Manager', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'South America', '02389-673', 'Brazil', '(21) 555-4252', '(21) 555-4545'),
 (62, 'QUEEN', 'Queen Cozinha', 'Lúcia Carvalho', 'Marketing Assistant', 'Alameda dos Canàrios, 891', 'Sao Paulo', 'South America', '05487-020', 'Brazil', '(11) 555-1189', None),
 (90, 'WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado, 12', 'Resende', 'South America', '08737-363', 'Brazil', '(14) 555-8122', None),
 (92, 'WILMK', 'Wilman Kala', 'Matti Karttunen', 'Owner/Marketing Assistant', 'Keskuskatu 45', 'Helsinki', 'Scandinavia', '21240', 'Finland', '90-224 8858', '90-224 8858')]

## Dates

In [55]:
%%sql
--You need to write the date pattern here!
SELECT * FROM Orders WHERE OrderDate BETWEEN "2015" AND "2017" LIMIT 5;

 * sqlite:///northwind.db
Done.

[(10248, 87, 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 16.75, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France'),
 (10249, 79, 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 22.25, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany'),
 (10250, 34, 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 25.0, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (10251, 86, 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 20.25, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France'),
 (10252, 76, 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 36.25, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium')]

In [56]:
%%sql
--2015 is excluded and 2017 is included
SELECT * FROM Orders WHERE OrderDate BETWEEN "2015-xx-xx" AND "2017-xx-xx" LIMIT 5;

 * sqlite:///northwind.db
Done.

[(10248, 87, 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 16.75, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France'),
 (10249, 79, 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 22.25, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany'),
 (10250, 34, 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 25.0, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (10251, 86, 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 20.25, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France'),
 (10252, 76, 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 36.25, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium')]

## Numbers

In [57]:
%%sql
SELECT Price FROM PRODUCTS LIMIT 5;

 * sqlite:///northwind.db
Done.

[(18,), (19,), (10,), (22,), (21.35,)]

### Aggregation
combining multiple rows into a single summary value 💡
very important for data scientist🎯

In [58]:
%%sql 
SELECT AVG(Price) FROM Products;

 * sqlite:///northwind.db
Done.

[(28.866363636363637,)]

In [59]:
%%sql
--Column
SELECT COUNT(Price) FROM Products;

 * sqlite:///northwind.db
Done.

[(77,)]

In [60]:
%%sql
--Rows
SELECT COUNT(*) FROM Products;

 * sqlite:///northwind.db
Done.

[(77,)]

In [61]:
%%sql
SELECT MIN(Price) FROM Products;

 * sqlite:///northwind.db
Done.

[(2.5,)]

In [62]:
%%sql
--Aliasing = giving something a temporary nickname 💡
--It's better to named it like this because when we're working with multiple tables we need to know what these things are called
SELECT MIN(Price) AS MinPrice FROM Products;

 * sqlite:///northwind.db
Done.

[(2.5,)]

### Grouping

In [63]:
%%sql
SELECT * FROM Products ORDER BY CategoryID;

 * sqlite:///northwind.db
Done.

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, '0'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, '0'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5, 20, 0, 0, '1'),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14, 111, 0, 15, '0'),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18, 20, 0, 15, '0'),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, '0'),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18, 69, 0, 5, '0'),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46, 17, 10, 25, '0'),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14, 52, 0, 10, '0'),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15, 15, 10, 30, '0'),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 7.75, 125, 0, 25, '0'),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18, 57, 0, 20, '0'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, '0'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 53, 0, 0, '0'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, '1'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25, 120, 0, 25, '0'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 6, 0, 0, '0'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5, 39, 0, 5, '0'),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45, 27, 0, 15, '0'),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 28.5, 113, 0, 25, '0'),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9, 24, 0, 5, '0'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21.05, 76, 0, 0, '0'),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17, 4, 100, 20, '0'),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13, 32, 0, 15, '0'),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45, 29, 0, 10, '0'),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2, 25, 0, 5, '0'),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81, 40, 0, 0, '0'),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10, 3, 40, 5, '0'),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14, 76, 0, 30, '0'),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23, 15, 0, 0, '0'),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9, 49, 0, 30, '0'),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 9.5, 36, 0, 0, '0'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 12.75, 15, 70, 25, '0'),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20, 10, 60, 15, '0'),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25, 65, 0, 30, '0'),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49.3, 17, 0, 0, '0'),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 12.5, 6, 10, 15, '0'),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21, 22, 30, 30, '0'),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38, 86, 0, 0, '0'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5, 0, 70, 20, '0'),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32, 9, 40, 25, '0'),
 (33, 'Geitost', 15, 4, '500 g', 2.5, 112, 0, 20, '0'),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55, 79, 0, 0, '0'),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34, 19, 0, 0, '0'),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36, 26, 0, 15, '0'),
 (71, 'Flotemysost', 15, 4, '10 - 500 g pkgs.', 21.5, 26, 0, 0, '0'),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8, 14, 0, 0, '0'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21, 104, 0, 25, '0'),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9, 61, 0, 25, '0'),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14, 26, 0, 0, '1'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7, 38, 0, 25, '0'),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38, 21, 10, 30, '0'),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 19.5, 36, 0, 20, '0'),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25, 22, 80, 30, '0'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, '1'),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 0, 0, 0, '1'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79, 0, 0, 0, '1'),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32.8, 0, 0, 0, '1'),
 (54, 'Tourtière', 25, 6, '16 pies', 7.45, 21, 0, 10, '0'),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24, 115, 0, 20, '0'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 15, 0, 10, '0'),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25, 35, 0, 0, '0'),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6, 26, 0, 0, '1'),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53, 20, 0, 10, '0'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10, 4, 20, 5, '0'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 31, 0, 0, '0'),
 (13, 'Konbu', 6, 8, '2 kg box', 6, 24, 0, 5, '0'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5, 42, 0, 0, '0'),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89, 10, 0, 15, '0'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g  jars', 19, 112, 0, 20, '0'),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26, 11, 50, 25, '0'),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4, 123, 0, 30, '0'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 9.65, 85, 0, 10, '0'),
 (45, 'Rogede sild', 21, 8, '1k pkg.', 9.5, 5, 70, 15, '0'),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12, 95, 0, 0, '0'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25, 62, 0, 20, '0'),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15, 101, 0, 5, '0')]

In [64]:
%%sql
SELECT * FROM Products GROUP BY CategoryID;

 * sqlite:///northwind.db
Done.

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, '0'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, '0'),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45, 29, 0, 10, '0'),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21, 22, 30, 30, '0'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21, 104, 0, 25, '0'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, '1'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 15, 0, 10, '0'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 31, 0, 0, '0')]

In [65]:
%%sql
--Performing an aggregation per group
SELECT AVG(Price) FROM Products GROUP BY CategoryID;

 * sqlite:///northwind.db
Done.

[(37.979166666666664,),
 (23.0625,),
 (25.16,),
 (28.73,),
 (20.25,),
 (54.00666666666667,),
 (32.37,),
 (20.6825,)]

In [66]:
%%sql
SELECT CategoryID, AVG(Price) FROM Products GROUP BY CategoryID;

 * sqlite:///northwind.db
Done.

[(1, 37.979166666666664),
 (2, 23.0625),
 (3, 25.16),
 (4, 28.73),
 (5, 20.25),
 (6, 54.00666666666667),
 (7, 32.37),
 (8, 20.6825)]

In [67]:
%%sql
SELECT CategoryID, MIN(Price) FROM Products GROUP BY CategoryID;

 * sqlite:///northwind.db
Done.

[(1, 4.5), (2, 10), (3, 9.2), (4, 2.5), (5, 7), (6, 7.45), (7, 10), (8, 6)]

### Sorting

In [68]:
%%sql
SELECT * FROM Customers ORDER BY CustomerName LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (11, 'BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', 'British Isles', 'EC2 5NT', 'UK', '(171) 555-1212', None)]

In [69]:
%%sql
SELECT * FROM Customers ORDER BY CustomerName ASC LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (2, 'ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 (3, 'ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None),
 (4, 'AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 (11, 'BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', 'British Isles', 'EC2 5NT', 'UK', '(171) 555-1212', None)]

In [70]:
%%sql
SELECT * FROM Customers ORDER BY CustomerName DESC LIMIT 5;

 * sqlite:///northwind.db
Done.

[(93, 'WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', 'Eastern Europe', '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012'),
 (92, 'WILMK', 'Wilman Kala', 'Matti Karttunen', 'Owner/Marketing Assistant', 'Keskuskatu 45', 'Helsinki', 'Scandinavia', '21240', 'Finland', '90-224 8858', '90-224 8858'),
 (91, 'WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'North America', '98128', 'USA', '(206) 555-4112', '(206) 555-4115'),
 (90, 'WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado, 12', 'Resende', 'South America', '08737-363', 'Brazil', '(14) 555-8122', None),
 (89, 'WARTH', 'Wartian Herkku', 'Pirkko Koskitalo', 'Accounting Manager', 'Torikatu 38', 'Oulu', 'Scandinavia', '90110', 'Finland', '981-443655', '981-443655')]

### Multiple Tables

In [71]:
%%sql
SELECT * FROM Customers WHERE Country IN ("Poland");

 * sqlite:///northwind.db
Done.

[(93, 'WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', 'Eastern Europe', '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012')]

In [72]:
%%sql
SELECT * FROM Customers WHERE Country IN ("Germany");

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (6, 'BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', 'Western Europe', '68306', 'Germany', '0621-08460', '0621-08924'),
 (17, 'DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', 'Western Europe', '52066', 'Germany', '0241-039123', '0241-059428'),
 (25, 'FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'München', 'Western Europe', '80805', 'Germany', '089-0877310', '089-0877451'),
 (39, 'KOENE', 'Königlich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', 'Western Europe', '14776', 'Germany', '0555-09876', None),
 (44, 'LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', 'Western Europe', '60528', 'Germany', '069-0245984', '069-0245874'),
 (52, 'MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', 'Western Europe', '04179', 'Germany', '0342-023176', None),
 (56, 'OTTIK', 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'Köln', 'Western Europe', '50739', 'Germany', '0221-0644327', '0221-0765721'),
 (63, 'QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstraße 10', 'Cunewalde', 'Western Europe', '01307', 'Germany', '0372-035188', None),
 (79, 'TOMSP', 'Toms Spezialitäten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany', '0251-031259', '0251-035695'),
 (88, 'WANDK', 'Die Wandernde Kuh', 'Rita Müller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', 'Western Europe', '70563', 'Germany', '0711-020361', '0711-035428')]

In [73]:
%%sql
SELECT * FROM Customers WHERE Country IN ("Poland", "Germany");

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'),
 (6, 'BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', 'Western Europe', '68306', 'Germany', '0621-08460', '0621-08924'),
 (17, 'DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', 'Western Europe', '52066', 'Germany', '0241-039123', '0241-059428'),
 (25, 'FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'München', 'Western Europe', '80805', 'Germany', '089-0877310', '089-0877451'),
 (39, 'KOENE', 'Königlich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', 'Western Europe', '14776', 'Germany', '0555-09876', None),
 (44, 'LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', 'Western Europe', '60528', 'Germany', '069-0245984', '069-0245874'),
 (52, 'MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', 'Western Europe', '04179', 'Germany', '0342-023176', None),
 (56, 'OTTIK', 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'Köln', 'Western Europe', '50739', 'Germany', '0221-0644327', '0221-0765721'),
 (63, 'QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstraße 10', 'Cunewalde', 'Western Europe', '01307', 'Germany', '0372-035188', None),
 (79, 'TOMSP', 'Toms Spezialitäten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany', '0251-031259', '0251-035695'),
 (88, 'WANDK', 'Die Wandernde Kuh', 'Rita Müller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', 'Western Europe', '70563', 'Germany', '0711-020361', '0711-035428'),
 (93, 'WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', 'Eastern Europe', '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012')]

## Relational Databases

In [74]:
%%sql
SELECT OrderID, CustomerID FROM Orders where OrderID = 10248;

 * sqlite:///northwind.db
Done.

[(10248, 87)]

In [75]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (SELECT CustomerID FROM Orders WHERE OrderID = 10248);

 * sqlite:///northwind.db
Done.

[(87, 'VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', 'Western Europe', '51100', 'France', '26.47.15.10', '26.47.15.11')]

In [76]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (SELECT CustomerID FROM Orders WHERE OrderID in (10248,10245));

 * sqlite:///northwind.db
Done.

[(87, 'VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', 'Western Europe', '51100', 'France', '26.47.15.10', '26.47.15.11')]

In [78]:
%%sql
--Write exact thing which is in top with join and it's easier to write
SELECT * FROM Customers JOIN Orders ON Customers.CustomerID = Orders.CustomerID LIMIT 5;

 * sqlite:///northwind.db
Done.

[(87, 'VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', 'Western Europe', '51100', 'France', '26.47.15.10', '26.47.15.11', 10248, 87, 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 16.75, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France'),
 (79, 'TOMSP', 'Toms Spezialitäten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany', '0251-031259', '0251-035695', 10249, 79, 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 22.25, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany'),
 (34, 'HANAR', 'Hanari Carnes', 'Mario Pontes', 'Accounting Manager', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil', '(21) 555-0091', '(21) 555-8765', 10250, 34, 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 25.0, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (86, 'VICTE', 'Victuailles en stock', 'Mary Saveley', 'Sales Agent', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France', '78.32.54.86', '78.32.54.87', 10251, 86, 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 20.25, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France'),
 (76, 'SUPRD', 'Suprêmes délices', 'Pascale Cartrain', 'Accounting Manager', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium', '(071) 23 67 22 20', '(071) 23 67 22 21', 10252, 76, 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 36.25, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium')]

In [79]:
%%sql
--Write exact thing which is in top with join and it's easier to write
SELECT * FROM Customers JOIN Orders ON Customers.CustomerID = Orders.CustomerID ORDER BY Customers.CustomerID LIMIT 5;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10643, 1, 6, '2017-08-25', '2017-09-22', '2017-09-02', 1, 19.5, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany'),
 (1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10692, 1, 4, '2017-10-03', '2017-10-31', '2017-10-13', 2, 15.0, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany'),
 (1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10702, 1, 4, '2017-10-13', '2017-11-24', '2017-10-21', 1, 15.25, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany'),
 (1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10835, 1, 1, '2018-01-15', '2018-02-12', '2018-01-21', 3, 14.25, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany'),
 (1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10952, 1, 1, '2018-03-16', '2018-04-27', '2018-03-24', 1, 14.5, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany')]

In [82]:
%%sql
--Write exact thing which is in top with join and it's easier to write
SELECT * FROM Customers JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.OrderID = 10643 ORDER BY Customers.CustomerID;

 * sqlite:///northwind.db
Done.

[(1, 'ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545', 10643, 1, 6, '2017-08-25', '2017-09-22', '2017-09-02', 1, 19.5, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany')]