In [8]:
%load_ext sql
%sql sqlite:///northwind.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%%sql
SELECT CustomerID, COUNT(*) 
FROM Customers 
GROUP BY CustomerID 
HAVING COUNT(*) > 1;

 * sqlite:///northwind.db
Done.

[]

In [10]:
%%sql
CREATE TABLE Customers_new (
    CustomerID TEXT PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    ContactTitle TEXT,
    Address TEXT,
    City TEXT,
    Region TEXT,
    PostalCode TEXT,
    Country TEXT,
    Phone TEXT
);

 * sqlite:///northwind.db
Done.

[]

In [11]:
%%sql
INSERT INTO Customers_new (
    CustomerID,
    CustomerName,
    ContactName,
    ContactTitle,
    Address,
    City,
    Region,
    PostalCode,
    Country,
    Phone
)
SELECT
    CustomerID,
    CustomerName,
    ContactName,
    ContactTitle,
    Address,
    City,
    Region,
    PostalCode,
    Country,
    Phone
FROM Customers;

 * sqlite:///northwind.db
93 rows affected.

[]

In [12]:
%%sql
DROP TABLE Customers;

 * sqlite:///northwind.db
Done.

[]

In [14]:
%%sql
ALTER TABLE Customers_new RENAME TO Customers;

 * sqlite:///northwind.db
(sqlite3.OperationalError) error in view Customer and Suppliers by City: no such table: main.Customers
[SQL: ALTER TABLE Customers_new RENAME TO Customers;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [15]:
%%sql
SELECT name
FROM sqlite_master
WHERE type = 'view' AND sql LIKE '%Customers%';

 * sqlite:///northwind.db
Done.

[('Customer and Suppliers by City',),
 ('Invoices',),
 ('Orders Qry',),
 ('Quarterly Orders',),
 ('Sales Totals by Amount',)]

In [16]:
%%sql
DROP VIEW "Customer and Suppliers by City";
DROP VIEW "Invoices";
DROP VIEW "Orders Qry";
DROP VIEW "Quarterly Orders";
DROP VIEW "Sales Totals by Amount";

 * sqlite:///northwind.db
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
ALTER TABLE Customers_new RENAME TO Customers;